.wrap {
    height: 100vh;
    max-height: 100vh;
}
.header {
    height: 50px;
    width: 100%;
    background-color: grey;
    margin-bottom: 20px;
}
.main {
    display: flex;
    gap: 15px;
    width: 100%;
}
.footer {
    width: 100%;
    background-color: grey;
    margin-top: 20px;
}
.controlPanel {
    min-width: 300px;
    height: 500px;
    background-color: grey;
    padding-right: 20px;
    padding-top: 10px;
    padding-left: 20px;
}
.infoPanel {
    width: 340px;
    height: 500px;
    background-color: grey;
    padding-right: 20px;
    padding-top: 10px;
    padding-left: 20px;
}
.centralization {
    position: absolute;
    bottom: 15px;
    right: 10px;
    border: none;
    width: 18px;
    height: 18px;
    background-image: url(src/move_100170.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: transparent;
}
.gitElement {
    background-color: #0d6efd;
    padding-left: 6px;
    border-radius: 4px;
}
.accordion-button {
    --bs-accordion-btn-padding-y: 5px;
    padding: var(--bs-accordion-btn-padding-y);
}