.wrap {
    height: 100vh;
    max-height: 100vh;
}
.header {
    height: 50px;
    width: 100%;
    background-color: grey;
    margin-bottom: 20px;
}
.main {
    display: flex;
    gap: 15px;
    width: 100%;
}
.footer {
    width: 100%;
    background-color: grey;
    margin-top: 20px;
}
.controlPanel {
    width: 300px;
    height: 500px;
    background-color: grey;
    padding-right: 20px;
}
.infoPanel {
    width: 300px;
    height: 500px;
    background-color: grey;
    padding-left: 20px;
}